#id_skills{
    max-height: 25vh;
    overflow-y: scroll;
}
.create label, li label{
    color: #000;
}
#id_description{
    height:80px;
}
#id_coordinates{
    display:none;
}
.height{    
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}
[type=file] {
    width: auto;
}

.slide__side-by-side{
	background: #cccccc;
	height: 620px;
}