{% extends 'base.html' %}
{% load staticfiles %}


     {% block content %}
          <div class="row">
       {% include 'profiles/navigation.html' %}
     </div>
<div class="container_profile">
  <div  id="prof-pic">
  {% if pic %}
  <img src="{{ pic.avatar.url }}">
  {% else %}
    <img src="http://www.twcdi.ie/images/avatars/default_set/default-avatar.png" height="150" width="150">
  {% endif %}
  </div>
  <h2>{{ user.username }}</h2>
  <form>
    <select name="link-select" onchange="location = this.value;">
        <option value = "{% url 'helper' %}">I want to help</option>
        <option value = "{% url 'seeker' %}">I want to seek help</option>
    </select>
  </form>
  <p><a class="button profile_links" href="{% url 'browse' %}">Browse Opportunity</a></p>
  <p><a class="button profile_links" href="{% url 'commitments' %}">Commitments</a></p>
   <p><a class="button profile_links" href="{% url 'helper_history' %}">History</a></p>
  <p><a class="button profile_links" href="{%  url 'chat:volunteer_view_rooms' %}">Community</a></p>
  <div class="counter">{{ available.hours }} Hours Available,  {{ sum }} Hours Committed {{ complete }} Hours Completed</div>
</div>

{% endblock %}