{% extends 'base.html' %}
{% load staticfiles %}


     {% block content %}
     <div class="row">
       {% include 'profiles/navigation.html' %}
     </div>
      <!--<a class="button" href="../accounts/logout/" >Logout</a>-->
<div class="container_profile">
   <div  id="prof-pic">
  {% if pic %}
  <img src="{{ pic.avatar.url }}">
  {% else %}
    <img src="http://www.twcdi.ie/images/avatars/default_set/default-avatar.png" height="150" width="150">
  {% endif %}
  </div>
  <h2>{{ user.username }}</h2>
  <form>
    <select name="link-select" onchange="location = this.value;">
        <option value = "{% url 'seeker' %}">I want to seek help</option>
        <option value = "{% url 'helper' %}">I want to help</option>
    </select>
    </form>
  <p><a class="button profile_links" href="{% url 'create' %}">Request Help</a></p>
  <p><a class="button profile_links" href="{% url 'current_opportunities' %}">Current Activities</a></p>
  <p><a class="button profile_links" href="{% url 'past_opportunities' %}">Past Activities</a></p>
  <p><a class="button profile_links" href="{%  url 'chat:view_rooms' %}">Community</a></p>
</div>
{% endblock %}