{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="card">
    <header>
        <h1>{{ user.username }}</h1>
        <h2>Pet, dog and animal</h2>
        <!-- <a href="#"><img src="/img/user.jpg" alt="" target="_blank" class="avatar"></a> -->

    </header>
    <article>
        <p>{{ user.get_full_name }} is a dog, he likes bones, sleeping and backend doggy.</p>
        <div class="row medium-uncollapse large-collapse">
            <ul class="list-unstyled">
                <div class="small-6 columns">
                    <li><a href="https://facebook.com/"><i class="fa fa-fw fa-facebook"></i> Facebook</a></li>
                </div>
                <div class="small-6 columns">
                    <li><a href="https://linked.com/"><i class="fa fa-fw fa-linked"></i> Linked</a></li>
                </div>
            </ul>
        </div>


        <div class=" lawns column row">
            Mawing Lawns
        </div>




    </article>

    <footer>

   <hr>
   <form method="GET" action="" class="column small-12">
    <input type="submit" name="save" value="Save Items" />
    <input type="submit" name="delete" value="Delete Items" />
    </form>
            <small>
      <a class="align-left share" href="#"><i class="fa fa-fw fa-share"></i> share</a>
      <a href="#" class="align-right alert">report <i class="fa fa-fw fa-exclamation"></i></a>
      </small>

        </p>
    </footer>
</div>
<script type="text/javascript" src="{% static 'js/submit_button.js' %}"></script>
{% endblock %}